@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Familjen Grotesk';
  src: url('./assets/fonts/FamiljenGrotesk-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Familjen Grotesk';
  src: url('./assets/fonts/FamiljenGrotesk-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: 'Familjen Grotesk', sans-serif;
}
